/*
- set .temp (min-heigth:100vh), so scroll works
- set nav sticky (position,top,z-index)
- set .hero on small screen only with color background, starting with 768px add current (image background)
- add position relative to .hero
- set .hero-center position absolute and place in the center (gotcha - section 19)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    height: 4rem;
    background: #222;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
}

.nav-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    min-height: calc(100vh - 4rem);
    background-color:rgb(140, 235, 140);
    position: relative;
}

@media screen and (min-width:768px) {
    .hero {
        background: linear-gradient(to top,rgba(39, 214, 39, 0.5), rgba(230, 230, 37, 0.2)), url(./image/energe.jpg) center/cover no-repeat fixed;
        min-height: calc(100vh - 4rem);
    }
}

.hero-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-center h1 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hero-center p {
    max-width: 35em;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.hero-btn {
    background: transparent;
    border: 1px solid rgb(255, 250, 250);
    padding: 0.3em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
}

.temp {
    min-height: 100vh;
}

