div {
    width: 200px;
    height: 100px;
    color: aliceblue;
    margin: 10px;
    opacity: 0; /* it also be changed to 1 */
}

.animation {
    background: blue;
    animation: move 5s 2; /* function duration count */
    animation-fill-mode: backwards; /* or forwards */
}

@keyframes move {
    0% {
        opacity: 0.1;
    }
    25% {
        transform: translateX(200px);
        background: green;
        opacity: 0.25;
    }
    50% {
        transform: translateX(-100px);
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
        background: rgb(236, 6, 6);
    }
    100% {
        transform: translateY(90px);
        opacity: 1;
        background: indigo;
    }
}